<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="blocks/headinfo :: headinfo"></div>
    <title>Авторы</title>
    <!--STOMP-->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <!--app.js dependance: jquery-->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/authors.js"></script>
</head>

<body>
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header th:insert="blocks/header :: header"></header>

<!-- Page Content -->
<div class="page-heading about-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Все</h4>
                    <h2>Авторы</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team-members">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Авторы</h2>
                </div>
            </div>
            <div th:each="author : ${authors}" class="col-md-4">
                <div class="team-member">
                    <div class="thumb-container">
                        <img th:src="${author.portrait}" alt="author">
                    </div>
                    <div class="down-content">
                        <h4 th:text="${author.name}">Author name</h4>
                        <h4 th:text="${author.lastname}">Author lastName</h4>
                        <h4 th:text="${author.patronymic}">Author patronymic</h4>
                        <!--                <span>CO-Founder</span>-->
                        <p th:text="${#strings.abbreviate(author.about ,100)}">About author</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')" style="text-align: center">
    <table align="center">
        <tr>
            <td>Name</td>
            <td><input type="text" id="name"></td>
        </tr>
        <tr>
            <td>Lastname</td>
            <td><input type="text" id="lastname"></td>
        </tr>
        <tr>
            <td>Patronymic</td>
            <td><input type="text" id="patronymic"></td>
        </tr>
        <tr>
            <td>Portrait</td>
            <td><input type="text" id="portrait"></td>
        </tr>
        <tr>
            <td>About</td>
            <td><input type="text" id="about"></td>
        </tr>
    </table>
    <button id="send" type="submit">Submit</button>
</form>

<footer th:insert="blocks/footer :: footer"></footer>
<div th:insert="blocks/scripts :: scripts"></div>
</body>
</html>
