<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <div th:insert="blocks/headinfo :: headinfo"></div>
  <title>Книги</title>
  <!--STOMP-->
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <!--app.js dependance: jquery-->
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/books.js"></script>
<!--  <style>-->
<!--        .alter{-->
<!--            padding: 20px;-->
<!--            margin: 20px;-->
<!--            background: #b2afaf;-->
<!--        }-->
<!--    </style>-->
</head>

<body>
<header th:insert="blocks/header :: header"></header>

<div class="container"  id="table">
  <div th:each="book : ${books}" class="alter">
    <h4 th:text="${book.title}">Book name</h4>
    <img th:src="${book.image}" alt="book image" height="100px"/>
    <p th:text="${book.description}">Description</p>
<!--    <select>genres</select>-->
    <b><p th:text="'$' + ${book.price}">$0.0</p></b>
    <a th:href="@{/books/{id}/bucket(id=${book.id})}">Add to bucket</a>
  </div>
</div>

<form sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')" style="text-align: center padding: 150px">
  <table align="center">
    <tr>
      <td>Title</td>
      <td><input type="text" id="title"></td>
    </tr>
    <tr>
      <td>Image</td>
      <td><input type="text" id="image"></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text" id="description"></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><input type="number" id="price"></td>
    </tr>
  </table>
  <button id="send" type="submit">Submit</button>
</form>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>
