<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="blocks/headinfo :: headinfo"></div>
    <title>Home</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<form th:action="@{/search}" method="get">
    <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find" size="50" >
    <button type="submit" class="btn btn-info" >Search</button>
</form>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>
