<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <div th:insert="blocks/headinfo :: headinfo"></div>
  <title>Жанры</title>
</head>
<body>
<!-- ***** Preloader Start ***** -->
<!--<div id="preloader">-->
<!--  <div class="jumper">-->
<!--    <div></div>-->
<!--    <div></div>-->
<!--    <div></div>-->
<!--  </div>-->
<!--</div>-->
<!-- ***** Preloader End ***** -->

<header th:insert="blocks/header :: header"></header>

<!-- Page Content -->
<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4>new arrivals</h4>
          <h2>sixteen products</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container"  id="table">
  <div th:each="genre : ${genres}" class="alter">
    <a th:href="@{/products/genre/{id}(id=${genre.id})}" class="nav-link px-2 link-dark">
      <h4 th:text="${genre.title}">Genre name</h4>
    </a>
  </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>
