<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="blocks/headinfo :: headinfo"></div>
    <title>Книжный магазин</title>
</head>
<body>
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header th:insert="blocks/header :: header"></header>

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
            <div class="text-content">
                <h4></h4>
                <h2>Художественная литература</h2>
            </div>
        </div>
        <div class="banner-item-02">
            <div class="text-content">
                <h4></h4>
                <h2>Научные издания</h2>
            </div>
        </div>
    </div>
</div>
<!-- Banner Ends Here -->

<div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Новые книги</h2>
                    <a href="products.html">посмотреть все<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div th:each="book : ${books}" class="col-md-4">
                <div class="product-item">
                    <a href="#"><img th:src="${book.image}" width="280px" height="400px" alt="book image"></a>
                    <div class="down-content">
                        <a href="#"><h4 th:text="${book.title}">Title</h4></a>
                        <h6 th:text="'₽' + ${book.price}">0.00₽</h6>
                        <p th:text="${#strings.abbreviate(book.description,100)}">О книге</p>
                        <a th:href="@{/books/{id}/bucket(id=${book.id})}">Добавить в корзину</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
<div th:insert="blocks/scripts :: scripts"></div>
</body>
</html>
