<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="blocks/headinfo :: headinfo"></div>

    <title>Sixteen Clothing Products</title>
</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header th:insert="blocks/header :: header"></header>

<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="contact-form">
                    <form th:action="@{auth}" id="contact" method="post">
                        <div class="row">
                            <p th:if="${loginError}" class="error">Wrong username or password</p>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="username" type="text" class="form-control" id="username"
                                           placeholder="Login" required="true">
                                </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <input name="password" type="password" class="form-control" id="password"
                                           placeholder="Please enter password" required="true">
                                </fieldset>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <fieldset>
                                    <span>У меня нет аккаунта.</span><a th:href="@{/signup}">Зарегестрироваться</a>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" id="form-submit" class="filled-button">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
<div th:insert="blocks/scripts :: scripts"></div>
</body>

</html>
