<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="blocks/headinfo :: headinfo"></div>
    <title>Книги</title>
    <!--STOMP-->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <!--app.js dependance: jquery-->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/books.js"></script>
</head>
<body>
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header th:insert="blocks/header :: header"></header>

<!-- Page Content -->
<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4></h4>
                    <h2>Книги</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filters">
                    <ul>
                        <li class="active" data-filter="*">Все книги</li>
                        <li data-filter=".des">Русские</li>
                        <li data-filter=".dev">Зарубежные</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12">
                <div class="filters-content">
                    <div class="row grid">
                        <div th:each="book : ${books}" class="col-lg-4 col-md-4 all">
                            <div class="product-item">
                                <a href="#"><img th:src="${book.image}" width="250px" height="400px" alt=""></a>
                                <div class="down-content">
                                    <a href="#"><h4 th:text="${book.title}">Tittle goes here</h4></a>
                                    <h6 th:text="'₽' + ${book.price}">$0.00</h6>
                                    <p th:text="${#strings.abbreviate(book.description,150)}">Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <ul class="pages">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<form sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')" style="text-align: center">
    <table align="center">
        <tr>
            <td>Title</td>
            <td><input type="text" id="title"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="text" id="image"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" id="description"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" id="price"></td>
        </tr>
    </table>
    <button id="send" type="submit">Submit</button>
</form>

<footer th:insert="blocks/footer :: footer"></footer>
<div th:insert="blocks/scripts :: scripts"></div>
</body>
</html>
