<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="blocks/headinfo :: headinfo"></div>
    <title>Все пользователи</title>
</head>
<body>
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<header th:insert="blocks/header :: header"></header>

<table border="1">
    <tr>
        <td>Name</td>
        <td>Email</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}">Username</td>
        <td th:text="${user.email}">Email</td>
    </tr>
</table>
<a th:href="@{/users/new}">Add user</a>

<footer th:insert="blocks/footer :: footer"></footer>
<div th:insert="blocks/scripts :: scripts"></div>
</body>
</html>
