<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<!--    <div th:insert="blocks/headinfo :: headinfo"></div>-->
    <title>Demo book</title>
</head>

<body>
<!--<header th:insert="blocks/header :: header"></header>-->

<div><img src="../../static/assets/images/Anna_Karenina.jpg" width="300px" height="300px" alt="book image1"></div>
<div><img src="../../static/assets/images/portraits/Pushkin.jpg" height="400px" alt="book image 2"></div>
<!--<div><img src="../static/assets/images/Otcy_i_dety.jpg" height="400px" alt="book image 3"></div>-->
<!--<div><img src="../static/assets/images/Eugenyi_Onegin.jpg"  alt="book image 4"></div>-->

<!--<footer th:insert="blocks/footer :: footer"></footer>-->
</body>
</html>
