<!--            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">-->
<!--                <li><a th:href="@{/}" class="nav-link px-2 link-dark">Home</a></li>-->
<!--                <li><a th:href="@{/authors}" class="nav-link px-2 link-dark">Authors</a></li>-->
<!--                <li><a th:href="@{/books}" class="nav-link px-2 link-dark">Books</a></li>-->
<!--                <li><a th:href="@{/genres}" class="nav-link px-2 link-dark">Genres</a></li>-->
<!--                <li sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')"><a th:href="@{/users}" class="nav-link px-2 link-dark">Users</a></li>-->
<!--                <li sec:authorize="isAuthenticated()"><a th:href="@{/bucket}" class="nav-link px-2 link-dark">Bucket</a></li>-->
<!--            </ul>-->


<!-- Header -->
<header th:fragment="header" class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html"><h2>Книжный <em>Магазин</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a th:href="@{/index.html}" class="nav-link">Главная
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/products.html}" class="nav-link">Книги</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/authors.html}" class="nav-link">Авторы</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/genres.html}" class="nav-link">Жанры</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/contact.html}" class="nav-link">О нас</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a th:href="@{/bucket}" class="nav-link px-2 link-dark">Корзина</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
<!--                        <a th:href="@{/users/profile}"><span sec:authentication="principal.username"></span></a>-->
                        <a th:href="@{/logout}" class="nav-link px-2 link-dark">Выход</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a th:href="@{/login}" class="nav-link px-2 link-dark">Войти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
