<!--В index перед footer-->
<div class="best-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>About Sixteen Clothing</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h4>Looking for the best products?</h4>
                    <p><a rel="nofollow" href="https://templatemo.com/tm-546-sixteen-clothing" target="_parent">This
                        template</a> is free to use for your business websites. However, you have no permission to
                        redistribute the downloadable ZIP file on any template collection website. <a rel="nofollow"
                                                                                                      href="https://templatemo.com/contact">Contact
                            us</a> for more info.</p>
                    <ul class="featured-list">
                        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#">Consectetur an adipisicing elit</a></li>
                        <li><a href="#">It aquecorporis nulla aspernatur</a></li>
                        <li><a href="#">Corporis, omnis doloremque</a></li>
                        <li><a href="#">Non cum id reprehenderit</a></li>
                    </ul>
                    <a href="about.html" class="filled-button">Read More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="/assets/images/feature-image.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Creative &amp; Unique <em>Sixteen</em> Products</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite
                                author nulla.</p>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="filled-button">Purchase Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--В authors после портрета-->
<div class="hover-effect">
    <div class="hover-content">
        <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
    </div>
</div>
<!--В authors-->
<div class="col-md-4">
    <div class="team-member">
        <div class="thumb-container">
            <img src="../static/assets/images/portraits/Pushkin.jpg" width="300px" height="300px" alt="author">
        </div>
        <div class="down-content">
            <h4>Александр</h4>
            <h4>Пушкин</h4>
            <h4>Сергеевич</h4>
            <p>Александр Сергеевич Пушкин родился 6 июня 1799 года (по старому стилю 26 мая) в Москве в дворянской помещичьей семье (отец его был майор в отставке) в день праздника Вознесения. В тот же день у императора Павла родилась внучка, в честь которой во всех церквах шли молебны и гудели колокола. Так, по случайному совпадению день рождения русского гения был ознаменован всеобщим народным ликованием.</p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="team-member">
        <div class="thumb-container">
            <img src="../static/assets/images/portraits/Tolstoy.jpg" width="300px" height="300px" alt="author">
        </div>
        <div class="down-content">
            <h4>Лев</h4>
            <h4>Толстой</h4>
            <h4>Николаевич</h4>
            <p>Лев Толстой – русский писатель и мыслитель, участвовал в обороне Севастополя, занимался просветительской и публицистической деятельностью. Стоял у истоков толстовства – нового религиозного течения. Когда-то вождь пролетариата Владимир Ленин сказал об этом человеке: «Какая глыба! Какой матерый человечище!». Эти слова относились к Льву Толстому – величайшему мировому писателю-романисту.</p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="team-member">
        <div class="thumb-container">
            <img src="../static/assets/images/portraits/Lermontov.jpg" width="300px" height="300px" alt="author">
        </div>
        <div class="down-content">
            <h4>Михаил</h4>
            <h4>Лермонтов</h4>
            <h4>Юрьевич</h4>
            <p>Русский поэт, прозаик, драматург, художник. Поручик лейб-гвардии Гусарского полка. Творчество Лермонтова, в котором сочетаются гражданские, философские и личные мотивы, отвечавшие насущным потребностям духовной жизни русского общества, ознаменовало собой новый расцвет русской литературы и оказало большое влияние на виднейших русских писателей и поэтов XIX и XX веков. Произведения Лермонтова получили большой отклик в живописи, театре, кинематографе. Его стихи стали подлинным кладезем для оперного, симфонического и романсового творчества. Многие из них стали народными песнями. </p>
        </div>
    </div>
</div>
<!--В authors перед футером-->
<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="down-content">
                        <h4>Product Management</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia
                            quaerat.</p>
                        <a href="#" class="filled-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="down-content">
                        <h4>Customer Relations</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia
                            quaerat.</p>
                        <a href="#" class="filled-button">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="down-content">
                        <h4>Global Collection</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia
                            quaerat.</p>
                        <a href="#" class="filled-button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="happy-clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Happy Partners</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-clients owl-carousel">
                    <div class="client-item">
                        <img src="/assets/images/client-01.png" alt="1">
                    </div>

                    <div class="client-item">
                        <img src="/assets/images/client-01.png" alt="2">
                    </div>

                    <div class="client-item">
                        <img src="/assets/images/client-01.png" alt="3">
                    </div>

                    <div class="client-item">
                        <img src="/assets/images/client-01.png" alt="4">
                    </div>

                    <div class="client-item">
                        <img src="/assets/images/client-01.png" alt="5">
                    </div>

                    <div class="client-item">
                        <img src="/assets/images/client-01.png" alt="6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--В products-->
<div class="col-md-12">
    <div class="filters-content">
        <div class="row grid">
            <div class="col-lg-4 col-md-4 all">
                <div class="product-item">
                    <a href="#"><img src="../static/assets/images/Anna_Karenina.jpg" width="300px" height="300px" alt="book image1"></a>
                    <div class="down-content">
                        <a href="#"><h4>Анна Каренина</h4></a>
                        <h6>250</h6>
                        <p>Роман Льва Толстого о трагической любви замужней дамы Анны Карениной и блестящего офицера Алексея Вронского на фоне счастливой семейной жизни дворян Константина Лёвина и Кити Щербацкой. Масштабная картина нравов и быта дворянской среды Петербурга и Москвы второй половины XIX века, сочетающая философские размышления авторского alter ego Лёвина с передовыми в русской литературе психологическими зарисовками, а также сценами из жизни крестьян.</p>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Reviews (12)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="filters-content">
        <div class="row grid">
            <div class="col-lg-4 col-md-4 all">
                <div class="product-item">
                    <a href="#"><img src="../static/assets/images/Eugenyi_Onegin.jpg" width="300px" height="300px" alt="book image1"></a>
                    <div class="down-content">
                        <a href="#"><h4>Евгений Онегин</h4></a>
                        <h6>250</h6>
                        <p>Роман в стихах русского писателя и поэта Александра Сергеевича Пушкина, начат 9 мая 1823 года и закончен 5 октября 1831 года, одно из самых значительных произведений русской словесности. Повествование ведётся от имени безымянного автора, который, впрочем, в первых же строфах называет Онегина «добрый мой приятель». По известному определению В. Г. Белинского, Пушкин назвал «Евгения Онегина» романом в стихах, поскольку в нём изображена «жизнь во всей её прозаической действительности».</p>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Reviews (12)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="filters-content">
        <div class="row grid">
            <div class="col-lg-4 col-md-4 all">
                <div class="product-item">
                    <a href="#"><img src="../static/assets/images/Gore_ot_yma.jpg" width="300px" height="300px" alt="book image1"></a>
                    <div class="down-content">
                        <a href="#"><h4>Горе от ума</h4></a>
                        <h6>250</h6>
                        <p>Комедия в стихах Александра Сергеевича Грибоедова. Она сочетает в себе элементы классицизма и новых для начала XIX века романтизма и реализма. Она описывает светское общество времён крепостного права и показывает жизнь 1813-1824 годов. Само «действие происходит… спустя десять лет после войны 1812 года, то есть в 1822».</p>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Reviews (12)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--В products после вывода книг в диве с th:each-->
<div class="col-lg-4 col-md-4 all">
    <div class="product-item">
        <a href="#"><img src="/assets/images/product_02.jpg" alt=""></a>
        <div class="down-content">
            <a href="#"><h4>Tittle goes here</h4></a>
            <h6>$16.75</h6>
            <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (24)</span>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 all">
    <div class="product-item">
        <a href="#"><img src="/assets/images/product_03.jpg" alt=""></a>
        <div class="down-content">
            <a href="#"><h4>Tittle goes here</h4></a>
            <h6>$32.50</h6>
            <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (36)</span>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 all">
    <div class="product-item">
        <a href="#"><img src="/assets/images/product_04.jpg" alt=""></a>
        <div class="down-content">
            <a href="#"><h4>Tittle goes here</h4></a>
            <h6>$24.60</h6>
            <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (48)</span>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 all">
    <div class="product-item">
        <a href="#"><img src="/assets/images/product_05.jpg" alt=""></a>
        <div class="down-content">
            <a href="#"><h4>Tittle goes here</h4></a>
            <h6>$18.75</h6>
            <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (60)</span>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 all">
    <div class="product-item">
        <a href="#"><img src="/assets/images/product_06.jpg" alt=""></a>
        <div class="down-content">
            <a href="#"><h4>Tittle goes here</h4></a>
            <h6>$12.50</h6>
            <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (72)</span>
        </div>
    </div>
</div>
